<section class="hero">
  <div class="container hero__container">
    <h1 class="visually-hidden">Студия High pass</h1>

    <article class="hero__big card-hero">
      <div class="card-hero__picture">
        <div class="tag card-hero__tag">#мастеркласс</div>

        <picture>
          <source media="(max-width: 530px)" type="image/avif"
            srcset="img/hero/hero-big-tel@1x.avif 1x, img/hero/hero-big-tel@2x.avif 2x">

          <source media="(max-width: 960px)" type="image/avif"
            srcset="img/hero/hero-big-small-tablet@1x.avif 1x, img/hero/hero-big-small-tablet@2x.avif 2x">

          <source media="(max-width: 1024px)" type="image/avif"
            srcset="img/hero/hero-big-tablet@1x.avif 1x, img/hero/hero-big-tablet@2x.avif 2x">

          <source srcset="img/hero/hero-big@1x.avif 1x, img/hero/hero-big@1x.avif 2x" type="image/avif">

          <source media="(max-width: 530px)" type="image/webp"
            srcset="img/hero/hero-big-tel@1x.webp 1x, img/hero/hero-big-tel@2x.webp 2x">

          <source media="(max-width: 960px)" type="image/webp"
            srcset="img/hero/hero-big-small-tablet@1x.webp 1x, img/hero/hero-big-small-tablet@2x.webp 2x">

          <source media="(max-width: 1024px)" type="image/webp"
            srcset="img/hero/hero-big-tablet@1x.webp 1x, img/hero/hero-big-tablet@2x.webp 2x">

          <source srcset="img/hero/hero-big@1x.webp 1x, img/hero/hero-big@2x.webp 2x" type="image/webp">

          <source media="(max-width: 530px)" srcset="mg/hero/hero-tel@1x.jpg 1x, img/hero/hero-tel@2x.jpg 2x">

          <source media="(max-width: 960px)"
            srcset="mg/hero/hero-small-big@1x.jpg 1x, img/hero/hero-small-big@2x.jpg 2x">

          <source media="(max-width: 1024px)" srcset="mg/hero/hero-big@1x.jpg 1x, img/hero/hero-big@2x.jpg 2x">

          <img loading="lazy" src="img/hero/hero-big@1x.jpg" srcset="img/hero/hero-big@2x.jpg 2x"
            class="card-hero__image" width="630" height="630" alt="Неоновый фотосет 2.0 7 июля 20:00">
        </picture>
      </div>

      <div class="card-hero__wrapper">
        <p class="card-hero__name">Мастер-класс от Игоря Робова</p>

        <h2 class="title card-hero__title">Неоновый фотосет&nbsp;2.0 <br> 7 июля 20:00</h2>

        <a href="#" class="btn btn--primary card-hero__btn">Узнать больше</a>
      </div>
    </article>

    <div class="hero__wrapper">
      <h2 class="title hero__title">Работы участников предыдущего мастер-класса</h2>

      <ul class="list-reset hero__list">
        <li class="hero__item">
          <a href="#" class="hero__link">
            <picture>
              <source media="(max-width: 530px)" type="image/avif"
                srcset="img/hero/hero-middle-tel@1x.avif 1x, img/hero/hero-middle-tel@2x.avif 2x">

              <source media="(max-width: 960px)" type="image/avif"
                srcset="img/hero/hero-middle-small-tablet@1x.avif 1x, img/hero/hero-middle-small-tablet@2x.avif 2x">

              <source media="(max-width: 1024px)" type="image/avif"
                srcset="img/hero/hero-middle-tablet@1x.avif 1x, img/hero/hero-middle-tablet@2x.avif 2x">

              <source srcset="img/hero/hero-middle@1x.avif 1x, img/hero/hero-middle@2x.avif 2x" type="image/avif">

              <source media="(max-width: 530px)" type="image/webp"
                srcset="img/hero/hero-middle-tel@1x.webp 1x, img/hero/hero-middle-tel@2x.webp 2x">

              <source media="(max-width: 960px)" type="image/webp"
                srcset="img/hero/hero-middle-small-tablet@1x.webp 1x, img/hero/hero-middle-small-tablet@2x.webp 2x">

              <source media="(max-width: 1024px)" type="image/webp"
                srcset="img/hero/hero-middle-tablet@1x.webp 1x, img/hero/hero-middle-tablet@2x.webp 2x">

              <source srcset="img/hero/hero-middle@1x.webp 1x, img/hero/hero-middle@2x.webp 2x" type="image/webp">

              <source media="(max-width: 530px)"
                srcset="img/hero/hero-middle-tel@1x.jpg 1x, img/hero/hero-middle-tel@2x.jpg 2x">

              <source media="(max-width: 960px)"
                srcset="img/hero/hero-middle-small-tablet@1x.jpg 1x, img/hero/hero-middle-small-tablet@2x.jpg 2x">

              <source media="(max-width: 1024px)"
                srcset="img/hero/hero-middle-tablet@1x.jpg 1x, img/hero/hero-middle-tablet@2x.jpg 2x">

              <img loading="lazy" src="img/hero/hero-middle@1x.jpg" srcset="img/hero/hero-middle@2x.jpg 2x"
                class="image hero__item-image" width="630" height="300" alt="Фотография">
            </picture>
          </a>
        </li>

        <li class="hero__item">
          <a href="#" class="hero__link">
            <picture>
              <source media="(max-width: 530px)" type="image/avif"
                srcset="img/hero/hero-small-1-tel@1x.avif 1x, img/hero/hero-small-1-tel@2x.avif 2x">

              <source media="(max-width: 1024px)" type="image/avif"
                srcset="img/hero/hero-small-1-tablet@1x.avif 1x, img/hero/hero-small-1-tablet@2x.avif 2x">

              <source srcset="img/hero/hero-small-1@1x.avif 1x, img/hero/hero-small-1@2x.avif 2x" type="image/avif">

              <source media="(max-width: 530px)" type="image/webp"
                srcset="img/hero/hero-small-1-tel@1x.webp 1x, img/hero/hero-small-1-tel@2x.webp 2x">

              <source media="(max-width: 1024px)" type="image/webp"
                srcset="img/hero/hero-small-1-tablet@1x.webp 1x, img/hero/hero-small-1-tablet@2x.webp 2x">

              <source srcset="img/hero/hero-small-1@1x.webp 1x, img/hero/hero-small-1@2x.webp 2x" type="image/webp">

              <source media="(max-width: 530px)"
                srcset="img/hero/hero-small-1-tel@1x.jpg 1x, img/hero/hero-small-1-tel@2x.jpg 2x">

              <source media="(max-width: 1024px)"
                srcset="img/hero/hero-small-1-tablet@1x.jpg 1x, img/hero/hero-small-1-tablet@2x.jpg 2x">

              <img loading="lazy" src="img/hero/hero-small-1@1x.jpg" srcset="img/hero/hero-small-1@2x.jpg 2x"
                class="image hero__item-image" width="300" height="257" alt="Фотография">
            </picture>
          </a>
        </li>

        <li class="hero__item">
          <a href="#" class="hero__link">
            <picture>
              <source media="(max-width: 530px)" type="image/avif"
                srcset="img/hero/hero-small-2-tel@1x.avif 1x, img/hero/hero-small-2-tel@2x.avif 2x">

              <source media="(max-width: 1024px)" type="image/avif"
                srcset="img/hero/hero-small-2-tablet@1x.avif 1x, img/hero/hero-small-2-tablet@2x.avif 2x">

              <source srcset="img/hero/hero-small-2@1x.avif 1x, img/hero/hero-small-2@2x.avif 2x" type="image/avif">

              <source media="(max-width: 530px)" type="image/webp"
                srcset="img/hero/hero-small-2-tel@1x.webp 1x, img/hero/hero-small-2-tel@2x.webp 2x">

              <source media="(max-width: 1024px)" type="image/webp"
                srcset="img/hero/hero-small-2-tablet@1x.webp 1x, img/hero/hero-small-2-tablet@2x.webp 2x">

              <source srcset="img/hero/hero-small-2@1x.webp 1x, img/hero/hero-small-2@2x.webp 2x" type="image/webp">

              <source media="(max-width: 530px)"
                srcset="img/hero/hero-small-2-tel@1x.jpg 1x, img/hero/hero-small-2-tel@2x.jpg 2x">

              <source media="(max-width: 1024px)"
                srcset="img/hero/hero-small-2-tablet@1x.jpg 1x, img/hero/hero-small-2-tablet@2x.jpg 2x">

              <img loading="lazy" src="img/hero/hero-small-2@1x.jpg" srcset="img/hero/hero-small-2@2x.jpg 2x"
                class="image hero__item-image" width="300" height="257" alt="Фотография">
            </picture>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
