<section class="projects" id="projects">
  <div class="container projects__container">
    <h2 class="title projects__title">Наши проекты</h2>

    <ul class="list-reset projects__list">
      <li class="projects__item projects__item--small">
        <div class="projects__picture">
          <div class="tag projects__tag">#пейзаж</div>

          <picture>
            <source media="(max-width: 530px)" type="image/avif"
              srcset="img/projects/foto-1-tel@1x.avif 1x, img/projects/foto-1-tel@2x.avif 2x">

            <source media="(max-width: 768px)" type="image/avif"
              srcset="img/projects/foto-1-small-tablet@1x.avif 1x, img/projects/foto-1-small-tablet@2x.avif 2x">

            <source media="(max-width: 1024px)" type="image/avif"
              srcset="img/projects/foto-1-tablet@1x.avif 1x, img/projects/foto-1-tablet@2x.avif 2x">

            <source srcset="img/projects/foto-1@1x.avif 1x, img/projects/foto-1@2x.avif 2x" type="image/avif">

            <source media="(max-width: 530px)" type="image/webp"
              srcset="img/projects/foto-1-tel@1x.webp 1x, img/projects/foto-1-tel@2x.webp 2x">

            <source media="(max-width: 768px)" type="image/webp"
              srcset="img/projects/foto-1-small-tablet@1x.webp 1x, img/projects/foto-1-small-tablet@2x.webp 2x">

            <source media="(max-width: 1024px)" type="image/webp"
              srcset="img/projects/foto-1-tablet@1x.webp 1x, img/projects/foto-1-tablet@2x.webp 2x">

            <source srcset="img/projects/foto-1@1x.webp 1x, img/projects/foto-1@2x.webp 2x" type="image/webp">

            <source media="(max-width: 530px)"
              srcset="img/projects/foto-1-tel@1x.jpg 1x, img/projects/foto-1-tel@2x.jpg 2x">

            <source media="(max-width: 768px)"
              srcset="img/projects/foto-1-small-tablet@1x.jpg 1x, img/projects/foto-1-small-tablet@2x.jpg 2x">

            <source media="(max-width: 1024px)"
              srcset="img/projects/foto-1-tablet@1x.jpg 1x, img/projects/foto-1-tablet@2x.jpg 2x">

            <img loading="lazy" src="img/projects/foto-1.@1x.jpg" srcset="img/projects/foto-1.@2x.jpg 2x"
              class="projects__image" width="630" height="300" alt="фотография проектзабвение">
          </picture>
        </div>

        <div class="projects__wrapper">
          <a href="#" class="projects__descr">Синтетически, смешаны с не уникальными данными до степени Синтетически,
            смешаны с не уникальными данными до степени Синтетически, смешаны с не уникальными данными до степени</a>

          <div class="projects__time">
            <svg class="projects__icon-calendar" width="14" height="14">
              <use xlink:href="img/sprite.svg#mdi_calendar_today"></use>
            </svg>

            <time datetime="2021-06-16">16 июня</time>
          </div>
        </div>
      </li>

      <li class="projects__item projects__item--small">
        <div class="projects__picture">
          <div class="tag projects__tag">#портрет</div>

          <picture>
            <source media="(max-width: 530px)" type="image/avif"
              srcset="img/projects/foto-2-tel@1x.avif 1x, img/projects/foto-2-tel@2x.avif 2x">

            <source media="(max-width: 768px)" type="image/avif"
              srcset="img/projects/foto-2-small-tablet@1x.avif 1x, img/projects/foto-2-small-tablet@2x.avif 2x">

            <source media="(max-width: 1024px)" type="image/avif"
              srcset="img/projects/foto-2-tablet@1x.avif 1x, img/projects/foto-2-tablet@2x.avif 2x">

            <source srcset="img/projects/foto-2@1x.avif 1x, img/projects/foto-2@2x.avif 2x" type="image/avif">

            <source media="(max-width: 530px)" type="image/webp"
              srcset="img/projects/foto-2-tel@1x.webp 1x, img/projects/foto-2-tel@2x.webp 2x">

            <source media="(max-width: 768px)" type="image/webp"
              srcset="img/projects/foto-2-small-tablet@1x.webp 1x, img/projects/foto-2-small-tablet@2x.webp 2x">

            <source media="(max-width: 1024px)" type="image/webp"
              srcset="img/projects/foto-2-tablet@1x.webp 1x, img/projects/foto-2-tablet@2x.webp 2x">

            <source srcset="img/projects/foto-2@1x.webp 1x, img/projects/foto-2@2x.webp 2x" type="image/webp">

            <source media="(max-width: 530px)"
              srcset="img/projects/foto-2-tel@1x.jpg 1x, img/projects/foto-2-tel@2x.jpg 2x">

            <source media="(max-width: 768px)"
              srcset="img/projects/foto-2-small-tablet@1x.jpg 1x, img/projects/foto-2-small-tablet@2x.jpg 2x">

            <source media="(max-width: 1024px)"
              srcset="img/projects/foto-2-tablet@1x.jpg 1x, img/projects/foto-2-tablet@2x.jpg 2x">

            <img loading="lazy" src="img/projects/foto-2.@1x.jpg" srcset="img/projects/foto-2.@2x.jpg 2x"
              class="projects__image" width="630" height="300" alt="фотография проектзабвение">
          </picture>
        </div>

        <div class="projects__wrapper">
          <a href="#" class="projects__descr">В своём стремлении улучшить опыт мы упускаем, что явные В своём стремлении
            улучшить опыт мы упускаем, что явные В своём стремлении улучшить опыт мы упускаем, что явные</a>

          <div class="projects__time">
            <svg class="projects__icon-calendar" width="14" height="14">
              <use xlink:href="img/sprite.svg#mdi_calendar_today"></use>
            </svg>

            <time datetime="2021-05-28">28 мая</time>
          </div>
        </div>
      </li>

      <li class="projects__item projects__item--small">
        <div class="projects__picture">
          <div class="tag projects__tag">#предмет</div>

          <picture>
            <source media="(max-width: 530px)" type="image/avif"
              srcset="img/projects/foto-3-tel@1x.avif 1x, img/projects/foto-3-tel@2x.avif 2x">

            <source media="(max-width: 768px)" type="image/avif"
              srcset="img/projects/foto-3-small-tablet@1x.avif 1x, img/projects/foto-3-small-tablet@2x.avif 2x">

            <source media="(max-width: 1024px)" type="image/avif"
              srcset="img/projects/foto-3-tablet@1x.avif 1x, img/projects/foto-3-tablet@2x.avif 2x">

            <source srcset="img/projects/foto-3@1x.avif 1x, img/projects/foto-3@2x.avif 2x" type="image/avif">

            <source media="(max-width: 530px)" type="image/webp"
              srcset="img/projects/foto-3-tel@1x.webp 1x, img/projects/foto-3-tel@2x.webp 2x">

            <source media="(max-width: 768px)" type="image/webp"
              srcset="img/projects/foto-3-small-tablet@1x.webp 1x, img/projects/foto-3-small-tablet@2x.webp 2x">

            <source media="(max-width: 1024px)" type="image/webp"
              srcset="img/projects/foto-3-tablet@1x.webp 1x, img/projects/foto-3-tablet@2x.webp 2x">

            <source srcset="img/projects/foto-3@1x.webp 1x, img/projects/foto-3@2x.webp 2x" type="image/webp">

            <source media="(max-width: 530px)"
              srcset="img/projects/foto-3-tel@1x.jpg 1x, img/projects/foto-3-tel@2x.jpg 2x">

            <source media="(max-width: 768px)"
              srcset="img/projects/foto-3-small-tablet@1x.jpg 1x, img/projects/foto-3-small-tablet@2x.jpg 2x">

            <source media="(max-width: 1024px)"
              srcset="img/projects/foto-3-tablet@1x.jpg 1x, img/projects/foto-3-tablet@2x.jpg 2x">

            <img loading="lazy" src="img/projects/foto-3.@1x.jpg" srcset="img/projects/foto-3.@2x.jpg 2x"
              class="projects__image" width="190" height="184" alt="фотография предмет">
          </picture>
        </div>

        <div class="projects__wrapper">
          <a href="#" class="projects__descr">Равным образом, высокое качество позиционных Равным образом, высокое
            качество позиционных Равным образом, высокое качество позиционных</a>

          <div class="projects__time">
            <svg class="projects__icon-calendar" width="14" height="14">
              <use xlink:href="img/sprite.svg#mdi_calendar_today"></use>
            </svg>

            <time datetime="2021-05-14">14 мая</time>
          </div>
        </div>
      </li>

      <li class="projects__item projects__item--big">
        <div class="projects__picture">
          <div class="tag projects__tag">#fuji</div>

          <picture>
            <source media="(max-width: 530px)" type="image/avif"
              srcset="img/projects/foto-4-tel@1x.avif 1x, img/projects/foto-4-tel@2x.avif 2x">

            <source media="(max-width: 768px)" type="image/avif"
              srcset="img/projects/foto-4-small-tablet@1x.avif 1x, img/projects/foto-4-small-tablet@2x.avif 2x">

            <source media="(max-width: 1024px)" type="image/avif"
              srcset="img/projects/foto-4-tablet@1x.avif 1x, img/projects/foto-4-tablet@2x.avif 2x">

            <source srcset="img/projects/foto-4@1x.avif 1x, img/projects/foto-4@2x.avif 2x" type="image/avif">

            <source media="(max-width: 530px)" type="image/webp"
              srcset="img/projects/foto-4-tel@1x.webp 1x, img/projects/foto-4-tel@2x.webp 2x">

            <source media="(max-width: 768px)" type="image/webp"
              srcset="img/projects/foto-4-small-tablet@1x.webp 1x, img/projects/foto-4-small-tablet@2x.webp 2x">

            <source media="(max-width: 1024px)" type="image/webp"
              srcset="img/projects/foto-4-tablet@1x.webp 1x, img/projects/foto-4-tablet@2x.webp 2x">

            <source srcset="img/projects/foto-4@1x.webp 1x, img/projects/foto-4@2x.webp 2x" type="image/webp">

            <source media="(max-width: 530px)"
              srcset="img/projects/foto-4-tel@1x.jpg 1x, img/projects/foto-4-tel@2x.jpg 2x">

            <source media="(max-width: 768px)"
              srcset="img/projects/foto-4-small-tablet@1x.jpg 1x, img/projects/foto-4-small-tablet@2x.jpg 2x">

            <source media="(max-width: 1024px)"
              srcset="img/projects/foto-4-tablet@1x.jpg 1x, img/projects/foto-4-tablet@2x.jpg 2x">

            <img loading="lazy" src="img/projects/foto-4.@1x.jpg" srcset="img/projects/foto-4.@2x.jpg 2x"
              class="projects__image" width="630" height="300" alt="фотография fuji">
          </picture>
        </div>

        <div class="projects__wrapper">
          <div class="projects__time">
            <svg class="projects__icon-calendar" width="14" height="14">
              <use xlink:href="img/sprite.svg#mdi_calendar_today"></use>
            </svg>

            <time datetime="2021-04-09">9 апреля</time>
          </div>

          <h3 class="title projects__title-item">Cемантический разбор</h3>

          <p class="projects__descr">В рамках спецификации современных стандартов, интерактивные прототипы</p>

          <button class="btn btn--secondary projects__btn">О проекте</button>
        </div>
      </li>

      <li class="projects__item projects__item--big">
        <div class="projects__picture">
          <div class="tag projects__tag">#проектзабвение</div>

          <picture>
            <source media="(max-width: 530px)" type="image/avif"
              srcset="img/projects/foto-5-tel@1x.avif 1x, img/projects/foto-5-tel@2x.avif 2x">

            <source media="(max-width: 768px)" type="image/avif"
              srcset="img/projects/foto-5-small-tablet@1x.avif 1x, img/projects/foto-5-small-tablet@2x.avif 2x">

            <source media="(max-width: 1024px)" type="image/avif"
              srcset="img/projects/foto-5-tablet@1x.avif 1x, img/projects/foto-5-tablet@2x.avif 2x">

            <source srcset="img/projects/foto-5@1x.avif 1x, img/projects/foto-5@2x.avif 2x" type="image/avif">

            <source media="(max-width: 530px)" type="image/webp"
              srcset="img/projects/foto-5-tel@1x.webp 1x, img/projects/foto-5-tel@2x.webp 2x">

            <source media="(max-width: 768px)" type="image/webp"
              srcset="img/projects/foto-5-small-tablet@1x.webp 1x, img/projects/foto-5-small-tablet@2x.webp 2x">

            <source media="(max-width: 1024px)" type="image/webp"
              srcset="img/projects/foto-5-tablet@1x.webp 1x, img/projects/foto-5-tablet@2x.webp 2x">

            <source srcset="img/projects/foto-5@1x.webp 1x, img/projects/foto-5@2x.webp 2x" type="image/webp">

            <source media="(max-width: 530px)"
              srcset="img/projects/foto-5-tel@1x.jpg 1x, img/projects/foto-5-tel@2x.jpg 2x">

            <source media="(max-width: 768px)"
              srcset="img/projects/foto-5-small-tablet@1x.jpg 1x, img/projects/foto-5-small-tablet@2x.jpg 2x">

            <source media="(max-width: 1024px)"
              srcset="img/projects/foto-5-tablet@1x.jpg 1x, img/projects/foto-5-tablet@2x.jpg 2x">

            <img loading="lazy" src="img/projects/foto-5.@1x.jpg" srcset="img/projects/foto-5.@2x.jpg 2x"
              class="projects__image" width="630" height="300" alt="фотография проектзабвение">
          </picture>
        </div>

        <div class="projects__wrapper">
          <div class="projects__time">
            <svg class="projects__icon-calendar" width="14" height="14">
              <use xlink:href="img/sprite.svg#mdi_calendar_today"></use>
            </svg>

            <time datetime="2021-03-20">20 марта</time>
          </div>

          <h3 class="title projects__title-item">Забвение</h3>

          <p class="projects__descr">Играет важную роль в формировании глубокомысленных рассуждений</p>

          <button class="btn btn--secondary projects__btn">О проекте</button>
        </div>
      </li>

      <li class="projects__item projects__item--middle">
        <div class="projects__picture">
          <div class="tag projects__tag">#ретушь</div>

          <picture>
            <source media="(max-width: 530px)" type="image/avif"
              srcset="img/projects/foto-6-tel@1x.avif 1x, img/projects/foto-6-tel@2x.avif 2x">

            <source media="(max-width: 768px)" type="image/avif"
              srcset="img/projects/foto-6-small-tablet@1x.avif 1x, img/projects/foto-6-small-tablet@2x.avif 2x">

            <source media="(max-width: 1024px)" type="image/avif"
              srcset="img/projects/foto-6-tablet@1x.avif 1x, img/projects/foto-6-tablet@2x.avif 2x">

            <source srcset="img/projects/foto-6@1x.avif 1x, img/projects/foto-6@2x.avif 2x" type="image/avif">

            <source media="(max-width: 530px)" type="image/webp"
              srcset="img/projects/foto-6-tel@1x.webp 1x, img/projects/foto-6-tel@2x.webp 2x">

            <source media="(max-width: 768px)" type="image/webp"
              srcset="img/projects/foto-6-small-tablet@1x.webp 1x, img/projects/foto-6-small-tablet@2x.webp 2x">

            <source media="(max-width: 1024px)" type="image/webp"
              srcset="img/projects/foto-6-tablet@1x.webp 1x, img/projects/foto-6-tablet@2x.webp 2x">

            <source srcset="img/projects/foto-6@1x.webp 1x, img/projects/foto-6@2x.webp 2x" type="image/webp">

            <source media="(max-width: 530px)"
              srcset="img/projects/foto-6-tel@1x.jpg 1x, img/projects/foto-6-tel@2x.jpg 2x">

            <source media="(max-width: 768px)"
              srcset="img/projects/foto-6-small-tablet@1x.jpg 1x, img/projects/foto-6-small-tablet@2x.jpg 2x">

            <source media="(max-width: 1024px)"
              srcset="img/projects/foto-6-tablet@1x.jpg 1x, img/projects/foto-6-tablet@2x.jpg 2x">

            <img loading="lazy" src="img/projects/foto-6.@1x.jpg" srcset="img/projects/foto-6.@2x.jpg 2x"
              class="projects__image" width="630" height="300" alt="фотография проектзабвение">
          </picture>
        </div>

        <div class="projects__wrapper">
          <a href="#" class="projects__descr">Как принято считать, многие известные личности и по сей день остаются
            уделом либералов многие известные личности и по сей день остаются уделом либералов многие известные личности
            и по сей день остаются уделом либералов</a>

          <div class="projects__time">
            <svg class="projects__icon-calendar" width="14" height="14">
              <use xlink:href="img/sprite.svg#mdi_calendar_today"></use>
            </svg>

            <time datetime="2021-03-09">9 марта</time>
          </div>
        </div>
      </li>

      <li class="projects__item projects__item--middle">
        <div class="projects__picture">
          <div class="tag projects__tag">#портрет</div>

          <picture>
            <source media="(max-width: 530px)" type="image/avif"
              srcset="img/projects/foto-7-tel@1x.avif 1x, img/projects/foto-7-tel@2x.avif 2x">

            <source media="(max-width: 768px)" type="image/avif"
              srcset="img/projects/foto-7-small-tablet@1x.avif 1x, img/projects/foto-7-small-tablet@2x.avif 2x">

            <source media="(max-width: 1024px)" type="image/avif"
              srcset="img/projects/foto-7-tablet@1x.avif 1x, img/projects/foto-7-tablet@2x.avif 2x">

            <source srcset="img/projects/foto-7@1x.avif 1x, img/projects/foto-7@2x.avif 2x" type="image/avif">

            <source media="(max-width: 530px)" type="image/webp"
              srcset="img/projects/foto-7-tel@1x.webp 1x, img/projects/foto-7-tel@2x.webp 2x">

            <source media="(max-width: 768px)" type="image/webp"
              srcset="img/projects/foto-7-small-tablet@1x.webp 1x, img/projects/foto-7-small-tablet@2x.webp 2x">

            <source media="(max-width: 1024px)" type="image/webp"
              srcset="img/projects/foto-7-tablet@1x.webp 1x, img/projects/foto-7-tablet@2x.webp 2x">

            <source srcset="img/projects/foto-7@1x.webp 1x, img/projects/foto-7@2x.webp 2x" type="image/webp">

            <source media="(max-width: 530px)"
              srcset="img/projects/foto-7-tel@1x.jpg 1x, img/projects/foto-7-tel@2x.jpg 2x">

            <source media="(max-width: 768px)"
              srcset="img/projects/foto-7-small-tablet@1x.jpg 1x, img/projects/foto-7-small-tablet@2x.jpg 2x">

            <source media="(max-width: 1024px)"
              srcset="img/projects/foto-7-tablet@1x.jpg 1x, img/projects/foto-7-tablet@2x.jpg 2x">

            <img loading="lazy" src="img/projects/foto-7.@1x.jpg" srcset="img/projects/foto-7.@2x.jpg 2x"
              class="projects__image" width="630" height="300" alt="фотография проектзабвение">
          </picture>
        </div>

        <div class="projects__wrapper">
          <a href="#" class="projects__descr">С учётом сложившейся международной обстановки, новая модель
            организационной многие известные личности и по сей день остаются уделом либералов</a>

          <div class="projects__time">
            <svg class="projects__icon-calendar" width="14" height="14">
              <use xlink:href="img/sprite.svg#mdi_calendar_today"></use>
            </svg>

            <time datetime="2021-03-01">1 марта</time>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
